.body{
background-color: #000000;
}

.mainDiv {
    background-color: black;
    font-size: 20px;
    border-radius: 10px;

}
#logo{
float:center;
width: 1000px;
height: 500px;
margin-left:150px;

}

#navbar{


border-radius: 10px;
width:1000px;
height:100px;	
background-color:#290CE8;

float:middle;
margin-left:150px;
margin-top:20px;
}	

.nav{
color:black;
width: 190px;
display: inline-block;
text-align: center;
margin-top:35px;
font-size: 20px
}


